.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 3px 0px 8px rgb(225, 221, 221);
    display: block;
    margin: 0 auto 24px auto;
    background-color: var(--light);
    overflow: hidden;
}

.member small {
    display: block;
    margin-top: 16px !important;
    font-size: 12px;
    color: rgb(69, 69, 69) !important;
    font-weight: 600;
}

.member small,
.member h3 {
    text-align: center;
    margin: auto;
    color: var(--secondary);
}
.avatar img{
    object-fit: cover;
    -o-object-fit: cover;
    object-position: top;
    object-position: top;
}
